<script>
window.notificationErrorTemplate = function(message) {
    return `
<div class="udesly-notification udesly-error-notification">
    <p class="udesly-notification-message">${message}</p>
</div>
    `;
}
</script>