<script>
window.notificationSuccessTemplate = function(message) {
    return `
<div class="udesly-notification udesly-success-notification">
    <p class="udesly-notification-message">${message}</p>
</div>
    `;
}
</script>