

    <div class="h04_container">
      <div class="white-container-overlay">
        <p class="h04_title">A FRESH APPROACH TO THE</p>
        <h1 class="h04_h1">Global water <span class="text-span-7">shortage</span></h1>
        <p>Botanical Water is a new way to filter and distribute billions of litres of safe drinking water that is currently discarded every year. <br><br>‍<strong>Our foundation exists to provide our Botanical Water for FREE to people who need it most.</strong></p>
        <a href="{{ section.settings.findout }}" target="_blank" class="solidbluebutton w-button">Find Out More</a>
      </div>
    </div>
  
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","selling-point-3");</script>

{% schema %}
{
  "name": "SellingPoint",
  "class": "selling-point-3",
  "tag": "div",
  "settings": [
    {
      "type": "url",
      "id": "findout",
      "label": "findout"
    }
  ]
}
{% endschema %}
