

    <div class="subscribe-button-wrap footer">
      <a href="/collections/try" class="solidbluebutton footer outline w-button">Try Now</a>
      <div class="div-block-143"></div>
      <a href="/collections/subscriptions" class="footer-wobble _100 w-button">Subscribe &amp; Save</a>
    </div>
  
<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","sticky-footer section wf-section");</script>

{% schema %}
{
  "name": "stickyfooter",
  "class": "sticky-footer section wf-section",
  "tag": "div"
}
{% endschema %}
